﻿page-login {
  font-family: 'Permanent Marker', cursive;
  background-color: #B3DDE1;

[noScroll] {
  overflow: hidden;
}

.form {
  margin-top: 25%;
}

.error-message {
  background-color: white;
}

.button2 {
  margin: 0 auto;
  width: 100%;
  height: 55px;
  display: inline-block;
  background-color: #509399;
  font-size: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
}

.forgot {
  background-color:#509399;
  display: inline-block;
  font-size: 1em;
    
}

}
