﻿<ion-header color="primary">

  <ion-navbar color="primary">
  </ion-navbar>

</ion-header>



<ion-content padding class="a"[attr.noScroll]="shouldScroll">
  
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate class="form">

    <ion-item class="a">
      <ion-label stacked style="color: #000;">
        Email
      </ion-label>
      <ion-input #email formControlName="email" type="email" placeholder="" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty" >
      </ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
      loginForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item class="a">
      <ion-label stacked style="color: #000;">Password</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder="" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
      </ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
      loginForm.controls.password.dirty">
      <p style="font-size:12px;">Your password needs more than 6 characters.</p>
    </ion-item>

    
    <button ion-button block (click)="goToResetPassword()" class="forgot"color="primary"
      >Forgot your password?
    </button>

    </form>


    <button ion-button block (click)="loginUser()" type ="submit"color="primary">
      Log In
    </button>

</ion-content>
