﻿<ion-header>
  <ion-toolbar color="primary">

    <ion-title>
      Add Item
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="content"> 
  <ion-list>

    <ion-item class="content">
      <ion-label floating>Title</ion-label>
      <ion-input type="text" [(ngModel)]="title"></ion-input>
    </ion-item>

    <ion-item class="content">
      <ion-label floating>Description</ion-label>
      <ion-input type="text" [(ngModel)]="description"></ion-input>
    </ion-item>

  </ion-list>

  <button full ion-button color="secondary" (click)="saveItem()" style="background: #fff;">
    Save
  </button>

</ion-content>