﻿<ion-header>
  <ion-navbar color="secondary">
     </ion-navbar>
</ion-header>
<ion-content padding color="primary">
  <ion-list>

    <ion-list-header class="content">
      Dad-to-be's information
    </ion-list-header>

      <ion-item (click)="updateName()"class="content">
        <ion-grid>
          <ion-row>
           <ion-col col-3 class="content"> 
             Name
            </ion-col>
            <ion-col col-3 *ngIf="userProfile?.firstName || userProfile?.lastName"class="content">
              {{userProfile?.firstName}} {{userProfile?.lastName}}
            </ion-col>
            <ion-col col-3 class="placeholder-profile" *ngIf="!userProfile?.firstName"class="content">
              <span>
                Tap here to edit.
              </span>
            </ion-col>
          </ion-row>
       </ion-grid>
      </ion-item>
   
      <ion-item (click)="updateEmail()"class="content"> 
        <ion-grid>
          <ion-row>
            <ion-col col-3>
              Email
            </ion-col>
            <ion-col col-3 *ngIf="userProfile?.email">
              {{userProfile?.email}}
            </ion-col>
            <ion-col col-3 class="placeholder-profile" *ngIf="!userProfile?.email">
              <span>
                Tap here to edit.
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>


    <ion-list-header class="content">
      Mom-to-be's information
    </ion-list-header>

    <ion-item (click)="updatemomName()"class="content">
      <ion-grid>
        <ion-row>
          <ion-col col-3 class="content"> 
          Name:
          </ion-col>
          <ion-col col-3 *ngIf="userProfile?.firstName || userProfile?.lastName"class="content">
            {{userProfile?.momfirst}}
          </ion-col>
          <ion-col col-3 class="placeholder-profile" *ngIf="!userProfile?.firstName"class="content">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-list-header class="content">
      Baby Information
    </ion-list-header>   

    <ion-item  class="content" >
      <label >
        <ion-col col-3 *ngIf="birthDate">
            {{birthDate}}
        </ion-col>
        <span >
          Update your duedate
        </span>
        <input type="date" [(ngModel)]="dueDate">
        <button ion-button block (click)="updateDueDate(dueDate)" type="submit">
          Update DueDate (You will have to login again)
        </button>
      </label>

       
    </ion-item>

  </ion-list>
  
</ion-content>
