﻿<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

<ion-header>
  <ion-navbar>

  

    <ion-title style="text-align: center;">
      {{userProfile?.firstName}}'s Survival Guide
    </ion-title>

 </ion-navbar>
</ion-header>

<!--Beginning of content-->
<ion-content *ngIf="(userleftstate)">

 
  
  <img *ngIf="(userleftstate=='First Trimester')" src='img/1st_Tri.png' class="banner"/>
  <img *ngIf="(userleftstate=='Second Trimester')"src='img/2nd_Tri.png' class="banner"/>
  <img *ngIf="(userleftstate=='Third Trimester')" src='img/3rd_Tri.png'class="banner"/>

<ion-grid> 
       
        

<!--If its the 16, 17, or 18th week this will show, allows them to set a gender for the baby-->

 <ion-row class="topheader" style="width:100%;">
  <ion-row *ngIf="(!usergender)&&(userleftheader == 'Week Sixteen')||(userleftheader == 'Week Seventeen')||(userleftheader == 'Week Eightteen')"  style="width:100%">
    
    <div *ngIf="(!usergender)&&(userleftheader == 'Week Sixteen')||(userleftheader == 'Week Seventeen')||(userleftheader == 'Week Eightteen')" style="width: 100%">
    
        <header class="contenttext">
          Its the second trimester! If you're that kind of guy, you can find out soon(or already have) what gender that little monster is going to be. Let us know!
        </header>

        <a ion-button outline (click)="onButtonClickboy()" id="toolbarbutton">
          It's a Boy
        </a>

        <a ion-button outline (click)="onButtonClickgirl()" id="toolbarbutton">
          It's a Girl
        </a>

        <a ion-button outline (click)="onButtonClickneither()" id="toolbarbutton">
          Surprise
        </a>  

    </div>

    <ion-item *ngIf="usergender"  class="contenttext">
        Its a {{usergender}}! Thanks for letting us know!
    </ion-item>

  </ion-row>




        <h1 class="bannertext">
    The  {{userleftstate}}!
  </h1>
<h1 class="bannertext">
    You're in  {{userleftheader}}!
  </h1>
     <div>
    </div>
   
    <button ion-button icon-only (click)="gotoDoctorPage()"  class="toolbarbutton">
      <ion-icon name="medkit" >
      </ion-icon>
    </button>

    <button ion-button icon-only (click)="todos()" class="toolbarbutton">
      <ion-icon name="checkbox" >
      </ion-icon>
    </button>
   
    <button ion-button icon-only (click)="profile()"class="toolbarbutton">
      <ion-icon name="contact">     
      </ion-icon>
    </button>
     

 
      
    <div id="countdown">

      <div>
        <span class="days">
        </span>
        <div class="smalltext">
          Days
        </div>
      </div>

      

      <div>
        <span class="hours">
        </span>
        <div class="smalltext">
          Hours
        </div>
      </div>

      <div>
        <span class="minutes">
        </span>
        <div class="smalltext">
          Minutes
        </div>
      </div>
<!--*ngIf="(userleftstate=='third Trimester')"-->
      <div>
        <span class="seconds">
        </span>
        <div class="smalltext">
          Seconds
        </div>
      </div>

    </div>
     </ion-row> 
   


     
   
          
<!--The Top Card, Weekly Dad Update-->

  <ion-row class="weeklycontentheader" (click)="expandItemthree(item)" ion-item *ngFor="let item of itemsthree" style="height:10%">
    
      <img src="img/dad_360.png" id="dad">
      <header id="headers">
        The Weekly Dad Update
      </header>
   

    <expandable [expandHeight]="daditemExpandHeight" [expanded]="item.expanded">

      <a  text-left ion-button  (click)="viewWeek()" >
        read more
      </a> 
      
      <div text-left class="expandedcontentcard" style="width:100">
        <p class="expandedcardtext">
          {{shortfirstuserlefttext}}......
        </p>
        <p *ngIf="!firstuserlefttext" class="expandedcardtext">
           Looks like we're missing the info for this week! Oops! Kindly do the needful and report this to the developers please!
        </p>
      </div> 

    </expandable> 

  </ion-row>

<!--Second Card, Weekly Hows Mom update-->

  <ion-row class="weeklycontentheader" (click)="expandItem(item)" ion-item *ngFor="let item of items"   style="height:10%">
  
      <img src="img/mom_360.png" id="mom">
      <header id="headers">
        How's Mom?
      </header>
   

    <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">

      <a  text-left ion-button  (click)="viewWeektwo()">
          read more
      </a> 

      <div text-left class="expandedcontentcard">
        <p class="expandedcardtext">
         {{shortmomtext}}......
        </p>
        <p *ngIf="!usermomtext" class="contenttext">
          Looks like we're missing the info for this week! Oops! Kindly do the needful and report this to the developers please!
        </p>  
      </div>    

    </expandable>     
  </ion-row>

<!-- -->
  <ion-row class="weeklycontentheader" (click)="expandItemfour(item)" ion-item *ngFor="let item of itemsfour"  style="height:10%">

      <img src="img/baby_360.png" id="mom">
      <header id="headers">
        How's Baby?
      </header>
   

    <expandable [expandHeight]="babyitemExpandHeight" [expanded]="item.expanded">      

      <img class="babypic" src="{{userbabyimg}}"/>

      <p class="expandedcardtext" style="font-size:10px;">
           {{userbabyimgtext}}
      </p>
      <a   ion-button  (click)="viewWeekthree()">
        read more
      </a> 
      <p *ngIf="!whatsnewusertext" class="contenttext">
          Looks like we're missing the info for this week! Oops! Kindly do the needful and report this to the developers please!
      </p>               

    </expandable>      
  </ion-row>

<!-- Tip Slides, hidden till i fill them out -->
<!--
  <ion-row>
    <ion-slides class="contentcard">
      <ion-slide *ngFor="let slide of slides" pager="true" class="slides">
        {{slide.name}}
      </ion-slide>
    </ion-slides>
  </ion-row>
-->



 
</ion-grid> 
</ion-content>

