﻿/*Colors
Green-7FB069
White-FFFBBD
Peachbrown- 694E30
red-CA3C25
DarkGreen-#fff
rgb values from eli-
63,173,255
245,187,0
239,208,195
0,0,0
255,255,255
*/
.ios, .md {
 
   background-color: #B3DDE1;
page-home {
      font-family: 'Permanent Marker', cursive;
  background-color: #B3DDE1;

ion-content {
 
      background-color: #00AEFB;
      background-size:cover;
  
}

ion-grid {
      padding: 0;
}

ion-row {
      flex: 1;
}

/*ion-navbar*, line 4 */
.toolbar-background {
      background: #00AEFB ;
}
/* Top of page image, lines 24,25,26*/
.banner{
      padding:none;
}
/*text below top of page image , line 28*/
.bannertext{
      font-family: 'Permanent Marker', cursive;
      color:#2E282A;
      font-size: 24px;
      text-wrap: avoid;
      text-align: center;
}
/*The first header card, line 33*/
.topheader{
     background:#fff;
      display: inline-block;
      font-family: 'Permanent Marker', cursive;
     color:#fff;  
      font-size: 24px;
      text-wrap: avoid;
      text-align: center;
 
      
    border-color: #00AEFB;
   
      padding-bottom: none;     
      align-self: flex-end;;
    
}
#firstheader{
      margin-left: 5%;
      display: inline-block;
      float: right;
      border-bottom: 1px solid;
      text-align: center;
      font-size: 22px;
      color: #000;  
}
/*The header texts, lines , 137, 166, 193*/
#headers {
      margin-top: 20px;
      display: inline-block;
      float: right;
      border-bottom: 1px solid;
      text-align: center;
      font-size: 22px;
      color: #000;
     margin-bottom: 20px;
}
/*Due Date String, Month/Day/Year Format , line 42*/
.duedate{
      font-family: 'Permanent Marker', cursive;
      color: #2E282A;
      font-size: 24px;  
      white-space: none;    
      height:auto;
      margin-left: 3.2em; 
      align-self: flex-end;
      display: inline-block;
}

/*countdown div , line 51*/
#countdown { 
      margin-left: 2.5em;
      margin-bottom: 5px;
       font-family: 'Permanent Marker', cursive;
    
     
      align-self: flex-end;
}

/* countdown boxes, lines 53-93*/
#countdown {
      font-family: sans-serif;
  
     
}
#countdown > div {
      padding: 1px;
   
      display: inline-block;
       border: solid;
     
}
#countdown div > span {
      padding: 1px;
      display: inline-block;
   color: #000;
    
}
/*text under the countdown boxes */
.smalltext {
      padding-top: 1px;
      font-size: .4em;
      color: #000;
}
.countdowntext{
         font-family: 'Permanent Marker', cursive;
      color:#2E282A;
      font-size: 24px;
   
    
}
/*ion rows for the cards, lines 134, 163, 190*/
.weeklycontentheader {
      background:#fff;
      display: inline-block;
      font-family: 'Permanent Marker', cursive;
     color:#fff;  
      font-size: 24px;
      text-wrap: avoid;
      text-align: center;
    border-style: solid;
    border-top: thick solid #00AEFB;
      
    
   
      padding-bottom: none;     
      align-self: flex-end;
      
}
.days,.minutes.hours.seconds{
      margin: 0 -5px 0 0 ;
}
/*content card when it has been expanded, lines 148, 177 (baby header isnt currently using it)*/
.expandedcontentcard {
      font-family: 'Permanent Marker', cursive;
      color: #2E282A;
      font-size: 16px;  
      white-space: normal;    
      height:auto;
}

/*text within the expanded card, lines 149,152, 178, 202 */
.expandedcardtext{  
      padding-left: 65px;
} 

/*shrinking the "what size is your baby this week?" for the expanded card, line 200*/
.babypic{
      height:auto;
      width:auto;
      padding-left: 65px;
}

/* buttons, lines 229-242*/
.toolbarbutton{
      padding: 11px;
      border-radius: 5px;
      background: #00AEFB;
      color: #fff;
      border-radius: 5px;
      background: rgb(63,173,255);
      display: inline-block;
      border: solid;
      border-color: #fff;
      align-self: flex-end;
      height: 4%;
      padding-right: 12%;
}

/* used for the first trimester/second trimester ngif rows, only appear if they are at a certain week */
.ifcard{   
      display: inline-block;
      background:#fff;
     font-family: 'Permanent Marker', cursive;
      color: #2E282A;
      text-wrap: avoid;
      text-align: center;   
      width: 100%;   
      padding-bottom: 10px;
      display: inline-block;
      font-size: 28px; 
      margin: 0px;
      border: outset;
      border-width: 1px;
      border-color: #BDBDBD;
      border-radius: 0 0 5px 5px;
      align-self: flex-end;
}

/*Three buttons for toolbar when you choose gender */
#button1, #button2, #button3 {
      &:hover {
        background-color: #ffffff;
        color: #B3DDE1;
      }
      margin-right: -10px;
      display: inline-block;
      background-color: #B3DDE1;
      color: #1976D2;
      border-color: #ffffff;
      border: solid;
      border-width: 1px;
      border-radius: 3px;
      text-align: center;
      width: 33%;
}

/*Dad header image */
#dad {
      display: inline-block;
      padding-top: 5px;
      margin-left: -1.2em;
     height: 75px;
      align: left;
      display: inline;

}

/*Mom/baby Header image */
#mom {
      display: inline-block;
   
      margin-left: -6.0em;

   
      height: 75px;
     
 
    
}
#countdownimg {
      display: inline-block;
    margin-left: -6em;
      height: 75px;
   
     
    
     
    
}


}}
