﻿<ion-header>
  <ion-navbar color="primary">

    <ion-title>
      {{title}}
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content>


   
     <p class="contents"> {{description}} </p>
   

  
</ion-content>