page-todos-detail {
        font-family: 'Permanent Marker', cursive;
        ion-content{
            background: url('../img/background.png')no-repeat center center;
        }
        .contents{
            margin-top: 0.7em;
            font-size: 22px;
            line-height: 1.2em;
        }


}

