<ion-header>
  <ion-navbar color="secondary">

    <ion-title>
      {{userstate}}
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="body" color="secondary">

  <ion-card color="secondary">
    <ion-card-content>
     <img src="{{userimg}}"/>
      {{usertext}}
    </ion-card-content>
  </ion-card>
  
</ion-content>