﻿
<ion-header>
  <ion-navbar color="secondary">

    <ion-title>
      {{userstate}}
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content color="primary">

  <ion-card color="secondary">
    <ion-card-content  color="#fff">
    <p class="weekdetailtext">  {{usertext}} </p>
    </ion-card-content>
  </ion-card>
  
</ion-content>