﻿<ion-content class="pagercontent">

  <ion-card class="pagercontent">

    <ion-slides pager="false" style="height: 500px;">

      <ion-slide>
        <img src='img/icon.png' id="logo">
        <h1>The New Dad Survival Guide</h1>
   
      </ion-slide>

     
    </ion-slides>
  </ion-card>

  <button ion-button block (click)="goToSignUp()"  class="button1"color="primary">
    Sign Up
  </button>

  <button ion-button block (click)="gotoLogin()" class="button2"color="primary">
    Log In
  </button>
  
</ion-content>
