﻿
page-intro {
  font-family: 'Permanent Marker', cursive;
  ion-slide {
    background-color: #B3DDE1;
    bottom: 0%;
    border-radius: 10px;
  }

.pagercontent {
  background: #B3DDE1;
	width: 100%;
	margin: 0 0 0 0;
	height: 100%;
  font-size: 1.2em;
}

 #logo {
display: inline;
}

.button2 {
    margin: 0 auto;
    width: 50%;
    height: 55px;
    display: inline-block;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
}

.button1 {
    margin: 0 auto;
    width: 50%;
    height: 55px;
    display: inline-block;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
}

}
