﻿<ion-header color="primary">

  <ion-navbar color="primary">
  </ion-navbar>

</ion-header>



<ion-content padding class="a">
  
  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>

    <ion-item class="a">
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address"
                 [class.invalid]="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty" style=" background: #fff;">
      </ion-input>
    </ion-item>

    <ion-item class="error-message"
              *ngIf="!resetPasswordForm.controls.email.valid  && resetPasswordForm.controls.email.dirty" style=" background: #fff;">
      <p>Please enter a valid email.</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!resetPasswordForm.valid" class="button">
      Send me a password reset email!
    </button>

  </form>

  <button ion-button block (click)="goToSignup()" class="button1">
    Sign Up
  </button>

  <button ion-button block (click)="gotoLogin()" class="button2">
    Log In
  </button>
  
</ion-content>