﻿page-resetpassword {
  font-family: 'Permanent Marker', cursive;
  background: #B3DDE1;
  color:#000;

.a {
  background: #B3DDE1;
  color:#000;
  }

.button {
    background:#509399;
  color:#000;
  }

.textt {
  background: #B3DDE1;
  color:#000;
  }

.item item-input {
  background: #B3DDE1;
  color:#000;
  }

.formData {
  background: #B3DDE1;
  color:#000;
  }

.button2 {
    margin: 0 auto;
    width: 50%;
    height: 55px;
    display: inline-block;
color:#fff;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
        background:#509399;
}

.button1 {
    margin: 0 auto;
    width: 50%;
    height: 55px;
    display: inline-block;
 color:#fff;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
    background:#509399;
}
}
