﻿
<ion-header color="primary">
<ion-navbar color="primary"> 

</ion-navbar>

</ion-header >
 
<ion-content padding class="a">

  <ion-item class="textt2">
    <label class="item item-input">
      <span class="input-label"  style="text-align: center;">
        Enter Due Date
      </span>
      <br>
      <input type="date" [(ngModel)]="userDate">
    </label>
  </ion-item>

  <ion-item class="textt">
    <ion-label stacked style="color: #000;">First Name</ion-label>
    <ion-input type="text" placeholder=""  [(ngModel)]="userFirst"></ion-input>
  </ion-item>

  <ion-item class="textt">
    <ion-label stacked style="color: #000;">Last Name</ion-label>
    <ion-input type="text" placeholder="" [(ngModel)]="userLast"></ion-input>
  </ion-item>

  <ion-item class="textt">
    <ion-label stacked style="color: #000;">Mom-to-be's Name</ion-label>
    <ion-input type="text" placeholder="" [(ngModel)]="momfirst"></ion-input>
  </ion-item>

<div class="formData">

  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item class="a">
      <ion-label stacked style="color: #000;">Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty" ></ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item class="a">
      <ion-label stacked style="color: #000;">Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="" [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"></ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p  style="font-size:12px;">Your password needs more than 6 characters.</p>
    </ion-item>
    
  </form>
     
    
  <button ion-button block (click)="signupUser()" type="submit" class="button1">
    Sign Up
  </button>
   
</div>
</ion-content>

