﻿page-signup {
  font-family: 'Permanent Marker', cursive;
  background-color: #B3DDE1;

.textt2 {
  background-color: #B3DDE1;
  text-align: center;
  font-size: 1.5em;
  }
.button1 {
  margin: 0 auto;
  width: 100%;
  height: 55px;
  display: inline-block;
  background-color:#509399;
  font-size: 1.2em;
  position: fixed;
  bottom: 0;
  right: 0;
  }

 
}
