﻿<link href="https://fonts.googleapis.com/css?family=Chelsea+Market" rel="stylesheet">
<ion-header>
  <ion-navbar color="primary">

    <ion-title >
     <p > {{userstate}} To-Do's </p>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="content" >
 
  <ion-title text-center class="ihead">
  </ion-title>
    
  <div *ngFor="let item of items" (click)="viewItem(item)" class="listitems" >
    {{item.title}}<hr style="border: 1px solid#b3dee1">
  </div>
   
</ion-content>